<a href="https://colab.research.google.com/github/ronaldo07az/pp2025/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_student = int(input("number of student: "))
student = []
for i in range(num_student):
  student_id = input("Student ID: ")
  student_name = input("Student name: ")
  student_DoB = input("Date of birth: ")
  print(f"Student{i+1}:")
  student.append({"ID": student_id, "Name": student_name, "DoB": student_DoB})

num_course = int(input("number of course: "))
course = []
for i in range(num_course):
  course_id = input("Course ID: ")
  course_name = input("Course name: ")
  course.append({"ID": course_id, "Name": course_name})

mark = {}
for c in course:
  marks[c["ID"]] = []
  print(f"Enter mark for course{c['Name']}: ")
  for s in student:
    m = float(input(f"Enter mark for student {s["ID"]} ({s["Name"]}): "))
    marks[c["ID"]].append({"student_id": s["ID"], "mark": m})
for c in course:
  print(f"Course{c['Name']}({c['ID']}):")
  for ro in marks[c["ID"]]:
    print(f"  {ro['student_id']}: {ro['mark']}")

number of student: 1
Student ID: 24789
Student name: Van A
Date of birth: 09/111/1999
Student1:
number of course: 2
Course ID: 01
Course name: giai tich
Course ID: 02
Course name: toan rr
Enter mark for coursegiai tich:
Enter mark for student 24789 (Van A): 8
Enter mark for coursetoan rr:
Enter mark for student 24789 (Van A): 9
Coursegiai tich(01):
  24789: 8.0
Coursetoan rr(02):
  24789: 9.0